body{
  background-image: url('./milky-way-2695569_1920.png');
  background-size: cover;
}

.container{
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  padding: 10px 50px;
  box-shadow: 5px 5px 10px black;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  max-width: 300px fit-content;
  color: black;
  text-align: center;
  font-size: 16px;
}

.header a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 32px;
}

.bal{
  background-image: linear-gradient(120deg, #3498DB,#73C6B6, #1E8449);
  text-align: center;
  font-size: 28px;
  margin-top: -10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bal:hover{
  background-position: right;
  color: #C0392B;
}

.summary-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 4px black;
  text-align: center;
}

.trans-history{
  width: 100%;
  margin: 0;
  padding: 0;
}

.transac:hover{
  background-color: black;
  color: white;
}

.transac:hover .delete-btn{
  opacity: 1;
}


.trans-history li{
  padding: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  list-style: none;
}

#red{
  color: #E74C3C;
  margin-right: 30px;
}

#green{
  color: #27AE60;
  margin-left: 30px;
}

.lbl{
  color: black;
  text-align: left;
}

.input{
  width: 100%;
  margin: 3px 0 3px 0;
  padding: 5px 0 5px 0;
  background-color: transparent;
  border-top: none;
  border-bottom: 1px solid;
  border-left: none;
  border-right: none;
}

.input:hover{
  cursor: text;
}


.btn{
  background-image: linear-gradient(120deg, #3498DB,#73C6B6, #1E8449);
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 16px;
  background-size: 200%;
  border-radius: 5px;
  border: 1px solid white;
}

.btn:hover{
  background-position: right;
  color: white;
  /*border: 1px solid #D35400;
  transition: .5s;
  color: #D35400;
  background-color: white;
  cursor: pointer;*/
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transform: translate(-160%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ins{
  font-size: 10px;
  color: grey;
  
}